$green: #2BDE73;

.project-index-items {
  border: 1px solid black;
  display: inline-block;
  padding-left: 150px;
  padding-right: 150px;

}

.project-index-list {
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  position: relative;
  margin: 50px auto;
  top: 30px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.category-list-div {
  list-style: none;
  padding-left: 150px;
  padding-right: 150px;
}

.explore-index h3{
  margin-top: 100px;
  margin-left: 178px;
  font-size: x-large;
  color: $green;
  border-bottom: 1px solid $green;
  width: 1300px;

}

.category-list {
  font-size: 60px;
  margin-top: 50px;
  margin-left: 300px;
  width: 800px;
  margin-bottom: 200px;
}
.category-list li{
  margin-bottom: 10px;
  width: fit-content;
}
.category-list li:hover{
  border-bottom:1px solid $green;
}

.category-list span {
  margin-left: 10px;
  font-size: 20px;
  color: $green;
}
