.auth--main{
  grid-template-columns: 1fr auto 1fr;
  background: #F7F7F6;
  grid-template-rows: .25fr auto 1fr;
  height: 91vh; 
}

.auth--form{ 
  grid-column: 2;
  grid-row: 2;
  max-width: 440px; // so doesn't grow huge with errors
  border: 1px solid lightgray; 
  // grid-template-columns: 1fr 100% 1fr;
} 
.auth--inputs{
  grid-template-rows: repeat(4, 1fr);  
  grid-gap: 20px;
  grid-column: 2;
  grid-template-columns: 15px 1fr 15px;
  // grid-template-rows: 15px 1fr 15px; // not sure if i still need this
  input{
    height: 45px;
    padding: 0 10px;
    min-width: 350px;
    border: 1px solid #00A677;
  }
  h2{
    font-size: 35px;
    margin-top: 15px;
  }
  span{
    height: 45px;
    text-align: center;
    div{
      color: #0000EE;
      cursor: pointer;
      display: inline;
    }
  }
}
.auth--inputs *{
  grid-column: 2 / 3;
  align-self: center;
}

.auth--errors{
  background: red;
  color: white;
  padding: 15px;
}
.auth--error-grid{
  grid-template-rows: 1fr auto repeat(4, 1fr);
}