$green: #2BDE73;


.category-project-item {
  width: 350px;
  height: 500px;
  margin: 0 15px 50px 15px;
  text-align: left;
  float: left;
  border-radius: 5px;
  box-shadow: 0 1px 5px 2px #d8d6d4;
}
.category-project-item li {
    margin-left: 5%;
}

.category-index-author-info{
  display: inline-flex;
}
.category-index-author-info img{
  border-radius: 100%;
  height: 30px;
  width: 30px;
  padding-right: 2px
}

.category-index-title-img {
  width: 350px;
  height: 220px;
  margin: auto;
  background-position: center;
  background-size: cover;

}

.category-index-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.category-list-div {
  width: 100 vw;
}

.category-project-index-items {

  display: inline-block;
  width: 100vw;
}

.category-title {
  margin-top: 130px;
  text-align:center;
  font-size:50px;
}
.category-title span{
  color: $green;
  border-bottom: 2px solid $green;
}
