.explore-index{
  grid-template-columns: 8% 5fr 8%;
  grid-template-rows: auto 1fr;

  h3{
    grid-column: 2 / 3;
    font-size: 20px;
    color: #2BDE73;
    border-bottom: 1px solid lightgray;
  }
}

.category-list{
  grid-column: 2 / 3; 
  grid-template-rows: 1fr;
  font-size: 35px;
  grid-row-gap: 13px;
  span{
    padding-left: 10px;
    font-size: 20px;
    color: #2BDE73;
  }
}

//mobile
@media only screen and (max-device-width:600px) {
  .explore-index{
    h3{
      font-size: 50px;
    }
  }
  .category-list{
    font-size: 85px;
    span{
      font-size: 40px;
    }
  }
}