$green: #2BDE73;


.form-page {
  display: flex;
}
.form-errors span{
  border-bottom: 2px solid red;

}

.project-form {
  flex-direction: column;
  align-items: left;
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 200px;
}
.form-header {
  margin-top: 150px;
  text-align: center;
  font-size: xx-large;
  font-weight: 100;
}
.form-errors {
  margin: 0 auto;
  color: red;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 20px;
}
.form-errors span {
  font-size: 25px;
}

.FileUpload div{
  margin:0 auto;
}
.project-form img {
  margin-top: 15px;
  max-width: 400px;
}

.project-form input{
  border-bottom: 1px solid black;
  width: 500px;
  height: 40px;
  // border-radius: 5px;
  margin: 0 auto;
}
.project-form input:focus {
  border-bottom: 1px solid $green;
}
.project-form select {
  width: 500px;
  height: 40px;
  font-size: 30px;

}
.project-form textarea:focus {
  border-bottom: 1px solid $green;
}

.project-form label {
  margin: 0 auto;
  margin-bottom: 15px;
}

.form-blurb{
  border-bottom: 1px solid black;
  width: 500px;
  height: 100px;
  // border-radius:5px;
}

.form-description {
  border-bottom: 1px solid black;
  width: 500px;
  height: 100px;
  // border-radius: 5px;
  margin: 0 auto;
}

.form-submit {
  border: 1px solid $green !important;
  background: $green;
  color: white;
  font-weight: bold;
  height:60px !important;
}
.form-submit:hover {
  border: 1px solid #21bc60 !important;
  background: #21bc60;
}



//
//
//
//
//

// REWARD FORM

.reward-form {
  text-align: center;

}

.form-header {
  padding-bottom: 30px;

}
.rewawrd-form label {
  margin-bomttom: 20px;
}

.reward-form input{
  border: 1px solid blue;
  width: 500px;
  height: 30px;
  border-radius: 5px;
  margin-bottom: 20px;

}
.reward-form textarea{
  border: 1px solid blue;
  width: 600px;
  height: 30px;
  border-radius: 5px;
  height: 80px;
  margin-bottom: 20px;

}

.reward-form input:focus{
  border: 1px solid $green;
}
.reward-form textarea:focus{
  border: 1px solid $green;
}



























//
