.form--container{
  grid-template-rows: auto 50px 1fr;
  grid-template-columns: 8% 1fr 8%;
  grid-gap: 10px;
  height: 70vh;
  margin-top: 15px;
}
.form--header{
  font-size: 35px;
  grid-column:2;
  text-align: center;
}
.form--main{
  grid-column: 2;
  grid-template-rows: repeat(8, 1fr);
  grid-gap: 15px;
  label{
    display: grid;
    grid-template-columns: 225px 1fr 225px;
  }
  label textarea{
    height: 50px;
  } 
  label *{
    border: 1px solid;
  }
}
.form--upload{

}

.form--first{
  // grid-column: 2;
  // width: 400px;
  // background: lightpink;
  // grid-template-columns: 1fr 1fr 1fr;
  // * {
  //   grid-column: 2;
  // }
}
.form--section{
    grid-row: 3;
    grid-column: 2;
    justify-self: center;
    max-width: 600px;
    padding: 10px 0;
    min-width: 425px;
  
  label{
    display: grid;
    justify-content: center;
    font-size: 24px;
    grid-template-rows: 2fr 5fr;
    padding: 0 50px;
    text-align: center;
    *{ //using the * because not just inputs in the form
      padding: 10px;
      border: 1px solid lightgray;
      font-size: inherit;
      min-height: 60px;
      justify-self: center;
    }
    input, select{
      height: 60px;
      border-radius: 3px;
      width: 400px;
    }
    textarea{
      height: 120px;
      width: 400px;
    }
    *:hover{
      border: 1px solid green;
      box-shadow: 2px 3px lightgrey;
    }
    *:focus{
      border: 1px solid black;
      outline: 0; //for drop downs
    }
  }
} 
.form--section-header{
  font-size: 35px;
  text-align: center;
  font-weight: bold;
}
.form--nav{
  grid-template-columns: 1fr 1fr;
  grid-column: 2/3;
  grid-row: 2;
  justify-items: center;

  div{
    cursor: pointer;
    width: 100px;
    padding: 10px;
    align-self: center;
  }
}
.form--submit{
  font-size: 22px;
  width: 400px;
  justify-self: center;
  height: 60px;
}

// for mobile it looks like things are close to where they should be,
//  might need a sizing adjustment, but not too bad