$green: #2BDE73;

.fa-compass {
  color: $green;
}

.fa-Search {
  margin-top: 10px;
}

.theNavBar {
  position: fixed;
      top: 0;
      width: 94%;
      display: flex;
      background: white;
      padding: 0px 3%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: solid 1px #e0e1e2;
      box-shadow: 0px 0px 5px grey;
      z-index: 9999;
}

.nav-button-section {
  width: 300px;
  display: flex;
  padding-right: 1%;
  justify-content: space-between;
  align-items: center;
}

.nav-button-section-logout {
  width: 300px;
  display: flex;
  padding-right: 1%;
  justify-content: space-between;
  align-items: center;
}
.nav-button-section-logout i{
margin-right: 40px;
}

.nav-button-section button {
  padding: 18px 0;
  border-bottom: 2px solid #fff;

}

.nav-button-section-logout button {
  padding: 18px 0;
  border-bottom: 2px solid #fff;
}

.nav-button-section-logout button:hover {
  border-bottom: 1.5px solid $green;
  height: 100%;
  transition-delay: 0.1s;
}

.nav-button-section button:hover {
  border-bottom: 1.5px solid $green;
  height: 100%;
  transition-delay: 0.1s;
}

.modal-inputs input[type="text"], .modal-inputs input[type="password"] {
  background: #fff;
  border: 1px solid #dad7d4;
  border-radius: 3%;
  width: 80%;
  margin-top: 20px;
  padding: 1%;
}
.modal-inputs li{
  color: red;
  margin-top: 5px;
}

.modal-inputs {
  text-align:center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal-inputs img{
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 80%;
  height: 40px;

}
.modal-inputs input:focus {
  border: 1px solid $green;
}
.modal-inputs input[type="submit"] {
  background: #2BDE73;
  width: 80%;
  height: 30px;
  border-radius: 3%;
  padding: 1.5%;
  margin-top: 50px;
  margin-bottom: 20px;
}

.modal-inputs input[type="submit"]:hover {
  background: #27c466;

}
