$green: #25CB68;


.theNavBar {
position: fixed;
top: 0;
width: 94%;
display: flex;
background: white;
padding: 0 3%;
display: flex;
justify-content: space-between;
align-items: center;
border-bottom: solid 1px #e0e1e2;
box-shadow: 0px 0px 5px grey;
z-index:9999;
}

.nav-button-section {
  width: 300px;
  display: flex;
  padding-right: 1%;
  justify-content: space-between;
  align-items: center;
}

.nav-button-section-logout {
  width: 300px;
  padding-right: 1%;
  text-align: right;
}
.nav-button-section button {
  padding: 5px 0 3px 0;
  height: 100%;
  border-bottom: 2px solid #fff;
}

.nav-button-section button:hover {
  border-bottom: 1.5px solid $green;
  height: 100%;
}

.modal-inputs input[type="text"], .modal-inputs input[type="password"] {
  background: #f7fbff;
  border: 1px solid #dad7d4;
  border-radius: 3%;
  width: 80%;
  margin-top: 20px;
  padding: 1%;


}


.modal-inputs {
  text-align:center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75%;
}
.modal-inputs input[type="submit"] {
  background: $green;
  width: 80%;
  border-radius: 3%;
  padding: 1.5%;
  margin-top: 20px;
}
