

.button {
  border-radius: 3px;
  padding: 5px;
}

.navbar{
  grid-template-columns: 1.5fr 5fr 1.5fr;
}

.navbar--section{
  justify-items: center;
  height: inherit;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  * {
    align-self: center;
  }
  *:hover {
    color: #029469;
    cursor: pointer;
  }
 
}

.navbar--section-right{

}

// web
@media (min-device-width: 601px){
  .navbar {
    height: 9vh;
    border-bottom: .5px solid lightgray;
  }

  .navbar--button {
    border-radius: 0px;
    height: -webkit-fill-available;
  }

  .navbar--image {
    margin: auto;
  }
}

// mobile
@media (max-device-width:600px) {

  .navbar {
    justify-content: space-between;
    height: 300px;
    // might need to make this navbar bigger here
    font-size: 35px;
    position: relative;
  }

  .navbar--button {
    border-radius: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .navbar--image {
    width: 500px;
    position: absolute;
    height: 50px;
    left: 25vw;
    top: 4vh;
  }

  .navbar--section {
    width: 700px;
    position: absolute;
    bottom: 0;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
  }

  .navbar--section-right{
    right: 0;
    justify-content: flex-end;
  }

}

