.flex {
  display: flex;
}

.navbar--button:hover {
  color: green;
}

.button {
  border-radius: 3px;
  padding: 5px;
}

// web
@media (min-device-width: 601px){
  .navbar {
    justify-content: space-between;
    height: 5vh;
  }

  .navbar--button {
    border-radius: 0px;
    height: -webkit-fill-available;
  }

  .navbar--image {
    margin: auto;
  }
}

// mobile
@media (max-device-width:600px) {

  .navbar {
    justify-content: space-between;
    height: 300px;
    // might need to make his navbar bigger here
    font-size: 35px;
    position: relative;
  }

  .navbar--button {
    border-radius: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .navbar--image {
    width: 500px;
    position: absolute;
    height: 50px;
    left: 25vw;
    top: 4vh;
  }

  .navbar--section {
    width: 700px;
    position: absolute;
    bottom: 0;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
  }

  .navbar--section-right{
    right: 0;
    justify-content: flex-end;
  }

}

