
.show--upper{
  padding: 15px 8% 0; // padding-bottom == 0
  background: #FBFBFA;
}
.show--main-info{
  grid-template-columns: 1fr 5fr 1fr;
}
.show--author-info{
  grid-template-rows: 1fr 1fr;
  img{
    height: 4.2rem; // this might need to change later
    width: auto;
    border-radius: 50%;
  }
}
.show--title-container{
  list-style: none;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 10px;
}
.show--title{
  font-size: 40px;
}
.show--title-blurb{
  font-size: 18px;
  color: gray;
}
.show--main-details{
  grid-template-columns: 4fr 2fr;
  grid-gap: 35px;
  height: 55vh;
  padding: 20px 0;
}
.show--image{
  //nothing to put here really
}
.show--info{
  grid-template-rows: .5fr repeat(9, 1fr)
}
.show-line{
  height: 5px;
}
.show--project-notes{
  list-style: none;
  font-size: 25px;
}
.show--project-notes li:nth-child(2){
  color: gray;
  font-size: 15px;
}
.show--funded > li{ //first li child
  color: #25CB68;
}
.back-me-button{
  grid-row: 6;
  text-align: center;
  color: white;
}

// bottom of page
.show--bottom{
  padding: 50px 15% 0;
  grid-template-columns: 5fr 2fr;
  grid-gap: 35px;
  border-top: 1px solid lightgray;
  min-height: 65vh;
  h2{
    font-size: 24px;
  }
}
.show--description-column{
  grid-template-rows: 50px 1fr;
}
.show--rewards-column{
  grid-template-rows: 50px 1fr;
  grid-row-gap: 20px;
}
.show--reward-item{
  height: 200px;
  width: 300px;
  border: 1px solid lightgray;
  box-sizing: border-box;
}
.show--reward-overlay{
  display: none;
  transition: .5s ease;
  background-color: #2BDE73;
  color: #fff;
  position: absolute;
  width: inherit;
  height: inherit;
  justify-content: center;
  cursor: pointer;
  div {
    align-self: center;
  } 
}
.here{
  height: inherit;
  width: inherit;
  padding: 10%;
}  
.show--reward-item:hover{
  .show--reward-overlay{
    display: flex;
  }
}

