.show--upper {
  padding: 15px 8% 0; // padding-bottom == 0
  background: #fbfbfa;
}
.show--author-info {
  img {
    height: 4.2rem; // this might need to change later
    width: auto;
    border-radius: 50%;
  }
}
.show--title-container {
  list-style: none;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 10px;
}
.show--title {
  font-size: 40px;
}
.show--title-blurb {
  font-size: 18px;
  color: gray;
}
.show--main-details {
  grid-gap: 35px;
  padding: 20px 0;
}
.show--info {
  grid-template-rows: 0.5fr repeat(9, 1fr);
}
.show-line {
  height: 5px;
}
.show--project-notes {
  list-style: none;
  font-size: 25px;
}
.show--project-notes li:nth-child(2) {
  color: gray;
  font-size: 15px;
}
.show--funded > li {
  //first li child
  color: #029469;
}
.back-me-button {
  text-align: center;
  color: white;
}

// bottom of page
.show--bottom {
  display: grid; // need this here so can reassign later in mobile
  min-width: 500px;
  padding: 50px 15% 0;
  grid-template-columns: 5fr 2fr;
  grid-gap: 35px;
  border-top: 1px solid lightgray;
  margin-bottom: 60px;
  h2 {
    font-size: 24px;
  }
}
.show--description-column {
  grid-template-rows: 50px 1fr;
}
.show--rewards-column {
  grid-template-rows: 50px 1fr;
  grid-row-gap: 20px;
}
.show--reward-item {
  min-height: 200px;
  width: 300px;
  border: 1px solid lightgray;
  box-sizing: border-box;
  position: relative;
}
.show--reward-overlay {
  opacity: 0;
  display: flex;
  background-color: #029469;
  transition: 0.5s ease;
  color: #fff;
  position: absolute;
  width: inherit;
  height: 100%;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
  div {
    align-self: center;
  }
}
.show--reward {
  height: inherit;
  width: inherit;
  padding: 8%;
  grid-gap: 10px;
}
.show--reward-item:hover {
  .show--reward-overlay {
    opacity: 0.9;
  }
}
//  not dryest, can refactor more still
.show--reward-title {
  font-size: 16px;
}
.show--reward-pledge {
  font-size: 18px;
}
.show--reward-description {
  font-size: 14px;
  color: gray;
}
.show--reward-delivery {
  margin-top: 5px;
  .reward-deliveryHeader {
    font-size: 10px;
    color: gray;
  }
  .reward-deliveryText {
    font-size: 12px;
  }
}

// keep bottom part of page width matched as screen gets smaller
@media (max-width: 715px) and (min-width: 300px) {
  .show--bottom {
    padding: 50px 5% 0;
    grid-template-rows: 1fr 1fr;
  }
}

// web
@media (min-device-width: 601px) {
  .show--main-info {
    grid-template-columns: 1fr 5fr 1fr;
    grid-gap: 10px;
  }
  .show--main-details {
    grid-template-columns: 4fr 2fr;
  }
  .show--author-info {
    grid-template-rows: 1fr 1fr;
  }
  .back-me-button {
    grid-row: 6;
  }
}

// mobile
@media (max-device-width: 600px) {
  //top of page
  .show--main-info {
    grid-gap: 20px;
  }
  .show--title {
    align-self: end;
  }
  .show--author-info {
    grid-template-columns: 100px auto;
    grid-row-start: 2;
  }
  .show--image {
    height: 600px;
  }
  .show--info {
    height: 500px;
    grid-template-rows: 50px 250px 150px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .show-line {
    height: 14px;
    grid-column: 1/4;
  }
  .back-me-button {
    grid-column: 1/4;
    font-size: 60px;
  }
  .show--project-notes {
    font-size: 60px;
    text-align: center;
    li:nth-child(2) {
      font-size: 40px;
    }
  }

  // bottom of page
  .show--bottom {
    padding: 50px 8% 0;
    grid-template-columns: 1fr;
    h2 {
      font-size: 60px;
    }
  }
  .show--description-column {
    grid-template-rows: auto 1fr;
    grid-gap: 20px;
  }
  .show--rewards-column {
    grid-template-rows: auto 1fr;
    grid-row-gap: 50px;
  }
  .show--reward-item {
    height: 800px;
    width: 100%;
    font-size: 60px;
  }
  .show--reward-overlay {
    font-size: 80px;
  }
  .show--reward {
    padding: 8%;
    grid-template-rows: 1fr 1fr 1.5fr 1fr;
    li:first-child {
      font-size: 70px;
    }
    li:nth-child(3) {
      color: gray;
      font-size: 45px;
    }
    span {
      color: #029469;
    }
  }
}
// @media screen and (max-width: 900px) and (min-width: 600px), (min-width: 1100px) {
