
.project-index {
  display: flex;
  width: 80%;
  position: relative;
  margin: 50px auto;
  top: 30px;
  border: 1px solid black;
  justify-content: space-between;
}

.project-item {
  width: 30%;
  text-align: center;
  border: 1px solid black;
}

.project-item img {
  width: 100%;
  height: 40%;
  margin: auto;
}
