$green: #2BDE73;

.project-index {
  width: 1040px;
  padding-left: 60px;
  position: relative;
  margin: 50px auto;
  top: 30px;
}

.project-item {
  width: 300px;
  height: 500px;
  margin: 0 15px 50px;
  text-align: left;
  border: 1px solid black;
  float: left;
  border-radius: 5px;
}

.project-item li{
  margin-left: 5%;
}


.index-title-img {
  width: 300px;
  height: 200px;
  margin: auto;
}

.index-author-info {
display: inline-flex;
}

.index-author-info img {
  border-radius: 100%;
  height: 30px;
  width: 30px;
padding-right: 2px
}



/////
///// show page upper half
/////
/////
.project-show-upper {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
  background-color: #FBFBFA;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 70px;
  box-shadow: inset 0 1px 5px 2px #d8d6d4;
}

.main-project-details {
  display: flex;

}

.project-show-details {
  width: 1250px;
  height: 450px;
  border: 1px black;
  margin: auto;
  display: flex;
  justify-content: center;

}

.project-show-image {
  width: 900px;
  height: 450px;
  display: inline;
  margin-right: 20px;
  border: 3px solid black;
  overflow-y: hidden;
}

.project-info{
  width: 350px;
  height: 450px;
  list-style: none;
  background: #a8aaad;
  display: inline;
  border: 1px solid black;
  text-align: center;
  padding-right: 18px;
  padding-left: 18px;
  box-sizing: border-box;
}



.project-main-info {
  display: flex;
  position: relative;
  left: 0;
  width: 1235px;
  box-sizing: border-box;
}

.project-author-info {
  width: 100px;
  margin-right: 50px;
  text-align: center;
}
.project-author-info img {
  border-radius: 100%;
  margin-top: 5px;
  height: 50px;
  width: 50px;
  margin: auto;
}

.project-title-info {
  font-size: 40px;
  font-weight: bold;
}
.project-title-info li {
  font-size: 20px;
  list-style: none;
  font-weight: lighter;
  font-style: italic;
}

.back-me-button {
  background: #2BDE73;
  width: 100%;
  height: 30px;
  text-align: center;
  margin: 5px auto;
  color: #fff;
  font-weight: bold;
  border-radius: 6px;
}


////
//// show page lower half
////
////

.project-lower-page {
  text-align: center;
  display: flex;
  justify-content: center;
  max-width: 1000px;
  margin: 50px auto;
}

.project-description-column {
  width: 60%;
  height: 800px;
  margin-right: 10px;
  border: 1px solid blue;
  display: inline-block;
  text-align: left;
  font-size: 30px;
}

.rewards-column {
  width: 250px;
  height: 800px;
  margin-left:10px;
  background: #b5d1ff;
  display: inline-block;
}

.reward-item {
  border: 1px solid black;
  height: 150px;
  width: 100%;
  margin-bottom: 20px;
  text-align: left;

}
