.none{
  display: none;
}
.search--overlay{
  height: min-content;
  width: 100vw;
  position: absolute;
  z-index: 2;
  top: 0;
}
.search--full-screen{
  height: 100vh;
  bottom: 0;
  right: 0;
  left: 0;
  overflow-y: scroll;
  background: white;
}
.search--input-bar{
  border: 1px solid;
  box-shadow: 0 2px lightgrey;
  height: 9vh;
  background: white;
  width: 100vw;
  font-size: 25px;
}
.search--input-field{
  padding-left: 35px;
  height: 100%;
  width: 100%;
}
.search--input-close{
  align-self: center;
  margin: 0 30px;
  cursor: pointer;
}
.search--results{
  padding-top: 10px;
}
.search--item{
  grid-template-columns: 1fr 5fr;
}
.search--item-img{
  padding: 10px;
}
.img-container{
  border: 1px solid #029469;
}

//web
@media (min-device-width:601px) {
  .search--results{
    grid-template-rows: repeat(7, 110px);
  } 
  .img-container{
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }
  .search--item-img{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }
}

// mobile
@media only screen and (max-device-width:600px) {
  .search--input-bar{
    font-size: 50px;
  }
  .search--item{
    grid-template-columns: 2fr 3fr;
    height: 230px;
    padding: 20px;
    padding-left: 35px;
  }
  .search--item-info{
    font-size: 27px;
    margin-left: 20px;
    grid-template-rows: 2fr 1fr 1fr;
    align-self: start;
    > li:nth-of-type(1) { // first item in the index
      font-size: 40px;
    }
  }
}