.showcase {
  font-size: 35px;
}

// web
@media  (min-device-width:601px) {

  .grid {
    display: grid;
  }

  .showcase {
    width: 100%;
    height: 800px;
    border: 1px solid black;
    margin: 0 auto;
    grid-template-columns: 5fr 4fr;
  }

  .showcase--list {
    background: red;
    grid-template-rows: 1fr 1fr 10fr 5fr;
  }
  
  .showcase--list-projects{
    background: green;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .showcase--project{
    // height: 100%;
    grid-template-columns: 1fr 3fr 5fr;
    // grid-gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    // border-bottom: 1px dashed black;
  }

  .showcase--header{
    font-size: 20px;
  }

  .showcase--project-photo{
    height: 100%;
  }
  .showcase--project-info{
    font-size: 15px;
  }

  .app-body {
    // background: blue;
    grid-template-columns: 1fr 10fr 1fr;
  }

}

// mobile
@media  (max-device-width:600px) {
  .showcase {
    width: 100%;
    height: 1000px;
    border: 1px solid black;
  
  }

  .showcase--image {

    // this might need to be in here if we have other "showcase--image" elements tht aren't divs
    // div {
    //   background-size: cover;
    // }
    background-size: cover;
  }

  .showcase--text {
    padding-left: 50px;
    padding-right: 50px;
  }

  .showcase--content {
    flex-direction: column;
  }

  .showcase--image-main {
    height: 500px;
  }

  .showcase--text-header {
    color: gray;
  }

  .showcase--text-title {

  }

  .showcase--text-author {
    color: gray;
  }
}