$green: #2BDE73;

.showcase-dashboard {
  // border: 10px solid black;
  height: 35em;
  margin-top: 4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard-1{
  width: 55%;
}

.dashboard-2{
  width: 40%;
  height: 100%;
}

.showcase-photo {
  height: 500px;
  min-width: 60%;
  background-size: cover;
  position: relative;

  .showcase-title {
    background-color: white;
    font-size: 28px;
    position: absolute;
    bottom: 2em;
    padding: 10px;
    text-align: center;
  }

  .showcase-author {
    background-color: white;
    font-size: 20px;
    position: absolute;
    bottom: 1em;
    padding: 10px;
    text-align: center;
 
  }
}

.showcase-photo:hover{

  .showcase-title{
    color: $green;
  }
  .showcase-author{
    color: $green;
  }

}

.showcase-information {
  height: 450px;
  min-width: 35%;
  display: flex;
  flex-direction: column;

}

.dashboard-item {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 20%;


  .item-photo {
    background-size: cover;
    width: 25%;
    margin-right: 10px;
  }

  .item-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
  }
}
