.showcase {
  font-size: 35px;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

// web
@media  (min-device-width:601px) {

  .showcase {
    width: 100%;
    height: 625px; // this might need to be changed
    margin: 0 auto;
    grid-template-columns: 5fr 4fr;
  }

  .showcase--list {
    grid-template-rows: 1fr 1fr 10fr 5fr;
  }
  
  .showcase--list-projects{
    grid-template-rows: 1fr 1fr 1fr;
  }

  .showcase--project{
    // height: 100%;
    grid-template-columns: 3fr 5fr;
    // grid-gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dashed lightgray;
    margin-left: 20px;
    margin-right: 20px;
  }

  .showcase--header{
    font-size: 20px;
  }

  .showcase--header-right{
    margin-left: 20px;
  }

  .showcase--project-photo{
    height: 100%;
    margin-left: 20px;
    margin-right: 15px;
  }

  .showcase--project-info{
    font-size: 15px;
    list-style: none;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .showcase--content-left {
    border-right: 1px dashed lightgray;
    grid-template-rows: 1fr 1fr 10fr 1fr;
    height: inherit;
  }

  .showcase--feature {
    grid-template-rows: 4fr .5fr 1fr .5fr 1fr; 
    margin-right: 40px;
  }

  .showcase--text-title{
    font-size: 28px;
    margin: 10px 0;
  }

  .showcase--description{
    font-size: 18px;
  }

  .showcase--text-author{
    font-size: 15px;
    margin: 10px 0;
  }

  .showcase--content-right {
    grid-template-rows: .5fr 1fr 8fr 5fr;
  }

  .showcase--image{
    // height: 375px;
  }

  .app-body {
    // background: blue;
    grid-template-columns: 1fr 10fr 1fr;
  }

}

// mobile
@media  (max-device-width:600px) {
  .showcase {
    width: 100%;
    height: 1000px;
    border: 1px solid black;
  
  }

  .showcase--image {

    // this might need to be in here if we have other "showcase--image" elements tht aren't divs
    // div {
    //   background-size: cover;
    // }
    background-size: cover;
  }

  .showcase--text {
    padding-left: 50px;
    padding-right: 50px;
  }

  .showcase--content {
    flex-direction: column;
  }

  .showcase--image-main {
    height: 500px;
  }

  .showcase--text-header {
    color: gray;
  }

  .showcase--text-title {

  }

  .showcase--text-author {
    color: gray;
  }
}