.showcase-dashboard {
  border: 10px solid black;
  height: 400px;
  position: absolute;
  margin: 30px 60px 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.showcase-photo {
  border: 5px solid red;
  height: 350px;
  min-width: 400px;

}

.showcase-information {
  border: 5px solid green;
  height: 350px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
