.showcase-dashboard {
  border: 10px solid black;
  height: 400px;
  // position: absolute;
  margin: 30px 60px 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.showcase-photo {
  height: 350px;
  min-width: 400px;
  background-size: cover;
  position: relative;

  .showcase-title {
    background-color: white;
    opacity: 0.5;
    position: absolute;
    bottom: 2em;
    padding: 10px;
    text-align: center;
  }

  .showcase-title:hover{
    opacity: 1;
    font-size: 135%;
    transition: .3s;
  }
}

.showcase-information {
  border: 5px solid green;
  height: 350px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
